.tellerMain {
    height: 100vh;
    width: 100vw;
    background: red;
    position: fixed;
    /*opacity: .5;*/
}

.tellerHeader {
    width: 100vw;
    height: 25vh;
    background: #eee;
    top: 0vh;
    position: relative;
    border: 2px solid #0b6efd;
    box-shadow: inset 0px 0px 9px 4px rgba(11,110,253,0.5);
}

.logoPicture {
    position: absolute;
    height: auto;
    width: 10%;
    left: 3%;
    top: 4%;
}

.acctInfoParent {
    height: 100%;
    width: 55%;
    /*top: 1%;*/
    position: absolute;
    /*border: 2px solid #0b6efd;*/
    box-shadow: inset 0px 0px 9px 4px rgba(11,110,253,0.5);    
    left: 15%;
    border-left: 2px solid #0b6efd;
}

.accountsTable {
    position: absolute;
    display: table;
    width: 100%;
    margin-top: 1%;
    border-spacing: 0 .5em;
    border-collapse: separate;

}

.memberStaticInfo {
    height: 100%;
    width: 30%;
    /*top: 1%;*/
    position: absolute;
    /*border: 2px solid #0b6efd;*/
    box-shadow: inset 0px 0px 9px 4px rgba(11,110,253,0.5);    
    left: 70%;
    border-left: 2px solid #0b6efd;
}

.tellerSideNav {
    width: 18vw;
    height: 75vh;
    background: #eee;
    top: 25vh;
    border: 2px solid #0b6efd;
    box-shadow: inset 0px 0px 9px 4px rgba(11,110,253,0.5);  
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    /*opacity: .5;*/
}

.sideNavOptions {
    width: 90%;
    height: 10%;
    box-shadow: inset 15px -10px 35px 7px rgba(96,96,97,1);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-weight: bolder;
    font-size: 18px;
    transition: .3s;
}

.sideNavOptions:hover {
    opacity: .5;
    background: #ccc;
    cursor: pointer;
}

.tellerContentMain {
    width: 82vw;
    height: 75vh;
    background: #eee;
    position: absolute;
    right: 0vw;
    bottom: 0vh;
    border: 2px solid #0b6efd;
    box-shadow: inset 0px 0px 9px 4px rgba(11,110,253,0.5);    
}

.tellerContentInner {
    position: absolute;
    left: 23%;
    top: 15%;
    height: 70%;
    width: 50%;
    background: #d5d5d5;
    box-shadow: inset 0px 0px 66px 6px rgba(0,0,0,0.38), 0px 0px 20px 12px rgba(0,0,0,0.46);
    /*box-shadow: inset 0px 0px 66px 6px rgba(0,0,0,0.38), 0px 0px 20px 12px rgba(0,0,0,0.46);*/
    /*box-shadow: 0px 0px 66px 6px rgba(0,0,0,0.38);*/
}

.tellerToolsWords {
    position: absolute;
    height: 100%;
    width: 80px;
    word-wrap: break-word;
    font-family: monospace;
    /*background: lightblue;   */
    right: 0px;
    font-size: 80px;
    line-height: 55px;
    font-weight: bolder;
    border: 2px solid #0b6efd;
    color: #0b6efd;
    padding-top: 10px;
    box-shadow: inset 0px 0px 9px 4px rgba(11,110,253,0.5), 0px 0px 9px 4px rgba(11,110,253,0.5);    
}

/*-------------------------THIS IS SEARCH FOR ACCOUNT FORM----------------------*/

.searchForAccountLastNameResults {
    position: absolute;
    background: #ddd;
    width: 85%;
    height: 60%;
    bottom: 10%;
    left: 7.5%;
}

.searchForAccountLastNameResultsHeader {
    /*position: absolute;*/
    width: 100%;
    height: 10%;
    /*background: lightblue;*/
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: bold;
}

.searchForAccountLastNameResultsList {
    /*position: absolute;*/
    width: 100%;
    height: 10%;
    /*background: lightblue;*/
    display: flex;
    flex-direction: row;
    /*overflow: scroll;*/
    background: #e9e9e9;
    border: .5px solid#0b6efd;
    margin: 1px 0px 1px 0px;
}

.searchForAccountLastNameResultsList:hover {
    opacity: .5;
    cursor: pointer;
}

.lineOfThree {
    width: 33.33%;
    height: 100%;
    /*background: pink;*/
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    margin-top: 3px;
    margin-bottom: 3px;
}